---
import { Icon } from "astro-icon/components";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Ready to launch your project?
  </h2>
          <p class="text-black mt-4 text-lg md:text-xl">
          Let's discuss how FastShip can transform your business with innovative technology solutions.
        </p>
  <div class="flex mt-8">
    <a 
      href="https://calendly.com/contact-fastship/30min?back=1&month=2025-08"
      target="_blank"
      rel="noopener"
      class="cta-button book-call-btn bg-white text-black px-8 py-4 rounded-lg hover:bg-gray-100 transition-colors flex gap-2 items-center text-lg font-medium">
              <Icon class="text-black w-6 h-6" name="bx:rocket" />
      Book a Call
    </a>
  </div>
</div>
